@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

*{
    font-family:'Inter', sans-serif;
}

h2{
    font-family:'Inter', sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin: 22px 0 10px;
    font-weight: 700;
    color: #FFFFFF;
}

h3{
    font-size: 26px;
    line-height: 32.5px;
    text-align: left;
    margin: 1% 0 1%;
    font-weight: 600;
}

p{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.coracao{
    margin: 12px;
    width: 12px;
    height: 12px;
    margin: 7px;
    transform: rotate(-45deg);
    background-color: gray;
    position: relative;
}

.coracao::before, .coracao::after{
    content: "";
    background-color: gray;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
}

.coracao::before{
    top: -7.5px;
}

.coracao::after{
    left: 7.5px;
}

main , header , nav{
    width: 70%;
    display: block;
    margin: 0 auto;
}

main{
    background-color: #FFFFFF;
}

section{
    margin: 50px 0;
}

.topSection , header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho{
    background: linear-gradient(88.27deg, #574AE8 0%, #3ea1db 100%);
}

.pesquisa{
    position: relative;
    display: flex;
    justify-content:end;
    align-items: center;
}

input{
    width: 100%;
    height: 35px ;
    border-radius: 5px;
    border: none;
    background-color:  #ffffff30;
    margin: 40px 0 20px 0;
    padding: 10px;
    color: white;
    font-size: 20px;

}

input::placeholder{
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}

img{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 40px 0 20px 0px;
    padding: 18px;
}